@import "../../utils/theme/global.scss";

.layout {
  &__header {
    padding: 1rem 2rem;
    background: $darkBackgroundLighten;
    border-bottom: $thinBorderLight;
  }

  &__sidebar {
    & .MuiDrawer-paper {
      border-right: $thinBorderLight;
      padding: 1rem 2rem;
    }
  }

  &__main-wrapper {
    padding: 2rem;
  }
}
