// Colors
$darkBackground: #212121;
$darkBackgroundLighten: #373737;
$primary: #6464be;
$white: #fff;
$lightGrey: #515151;

// Borders
$thinBorderLight: 1px solid $lightGrey;

// Widths
$sidebarWidth: 300px;
$taskColumnWidth: 240px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $darkBackground;
}

html {
  overflow: hidden;
}
