@import "../../utils/theme/global.scss";

.main-modal-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 35%;
  padding: 2rem;
  border-radius: 5px;
}

.MuiInputBase-input {
  background-color: lighten($primary, 35) !important;
  color: $darkBackground !important;
  border-radius: inherit !important;

  &.MuiSelect-filled {
    width: 200px !important;
    color: $darkBackground !important;
  }
}
